
<div class="sidebar-wrapper">

    <ul class="nav">

        <li class="filter">
            
            <div class="choices_filter">
                <div class="col-md-12">   
                    <div class="dropdown">
                        <span>Pays</span>
                        <div class="dropdown-content">
                          <p>Maroc</p>
                          <p>Espagne</p>
                        </div>
                      </div>
                </div>

            </div>
               
        </li>
        <hr>
        <li class="filter">
            
            <div class="choices_filter">
                <div class="col-md-12">   
                    <div class="dropdown">
                        <span>Ville</span>
                        <div class="dropdown-content">
                          <p>Marrakech</p>
                          <p>Rabat</p>
                        </div>
                      </div>
                </div>

            </div>
               
        </li>
        <hr>
        <li class="filter">

            <div class="titres-filter">
                Prix
            </div>
            <div class="col-md-12">   

            <div class="choices_filter">
                <input class="rang" type="range" min="1" max="1000" value="1000" id="slidebar">
                <p id="the_value"></p>
                </div>
                </div>
            </li>
            <hr>

            <li class="filter">

                <div class="titres-filter">
                    Notation
                </div>
                <div class="col-md-12">   
    
                  
                <div class="choices_filter">
            
                   
                    </div>
                    </div>
                </li>
                    <br/>
                    <hr>
                <li class="filter">

                    <div class="titres-filter">
                    Options
                    </div>
                    <div class="col-md-12">   
        
                    <div class="choices_filter">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                        Vol    
                        </label>
                        <br/>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Hotel
                        </label>
                        <br/>
    
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                        Activité enfant
                        </label>
                        <br/>
    
                        
                        </div>
                        </div>
                    </li>


    </ul>
</div>
