
<div class="sidebar-wrapper">

    <ul class="nav">

        <li class="filter">
            
            <div class="choices_filter">
                <div class="col-md-12">   
                    <div class="dropdown">
                        <span>Pays</span>
                        <div class="dropdown-content">
                          <p>Maroc</p>
                          <p>Espagne</p>
                        </div>
                      </div>
                </div>

            </div>
               
        </li>
        <hr>
        <li class="filter">
            
            <div class="choices_filter">
                <div class="col-md-12">   
                    <div class="dropdown">
                        <span>Ville</span>
                        <div class="dropdown-content">
                          <p>Marrakech</p>
                          <p>Rabat</p>
                        </div>
                      </div>
                </div>

            </div>
               
        </li>
        <hr>
        <li class="filter">

            <div class="titres-filter">
                Prix
            </div>
             

            <div class="choices_filter">
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  </div>
                  </div>
            </li>
            <hr>

            <li class="filter">

                <div class="titres-filter">
                    Notation
                </div>
                  
                <div class="choices_filter">
                   
                    <i class="nc-icon nc-diamond stars" style="color: orange;font-size: 16;"></i>
                    <i class="nc-icon nc-diamond stars" style="color: orange;font-size: 16;"></i>
                    <i class="nc-icon nc-diamond stars" style="color: orange;font-size: 16;"></i>
                    <i class="nc-icon nc-diamond stars" style="color: #7f8585;font-size: 16;"></i>
                    <i class="nc-icon nc-diamond stars" style="color: #7f8585;font-size: 16;"></i>
                    
                   
                    </div>
                </li>
                    <br/>
                    <hr>
                <li class="filter">

                    <div class="titres-filter">
                    Options
                    </div>
        
                    <div class="choices_filter check-area" >
                        <label class="container-checkbox">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                            Vol
                          </label>
                          <label class="container-checkbox">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                            Hotel
                          </label>
                          <label class="container-checkbox">
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            Activités pour enfants
                          </label>
                          <a routerLink="table">table</a>
                     
                        </div>
                    </li>

                    <li>
                        <a [routerLink]="table">table</a>
                    </li>

    </ul>
</div>
