<div class="row bg-offres">
  <div class=" col-md-5 ">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          
          <div class="col-md-8 ">
            <div class="numbers">
          <p class="card-title">Titre de l'offre</p>
          </div>
          </div>
          <div class="col-md-4 " >
            <div class="numbers">
            <p class="card-category">Dakhla City</p>
            </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12 bg-offre ">

           <img  src="assets/img/bg-offre.png" />
          </div>

          </div>
          <div class="row">
         
            <div class="numbers">
              <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                Animation
                Pieds dans l'eau</div>
                <p>
            </div>
          </div>
          <div class="row extra-zone">

            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-album-2"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-istanbul"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-satisfied"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-sun-fog-29"></i>
              </a>
             
            </div>


            

          </div>
         
      
      </div>
      <div class="card-footer ">
        <hr>
        <div class="row">
          <div class="col-md-6 card-price">
          5200 MAD 
      </div>
      <div class="col-md-6 update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round">J'en profite</button>
      </div>
      </div>
    </div>
    </div>
  </div>
  <div class=" col-md-5 ">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          
          <div class="col-md-8 ">
            <div class="numbers">
          <p class="card-title">Titre de l'offre</p>
          </div>
          </div>
          <div class="col-md-4 " >
            <div class="numbers">
            <p class="card-category">Dakhla City</p>
            </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12 bg-offre ">

           <img  src="assets/img/bg-offre2.jpeg" />
          </div>

          </div>
          <div class="row">
         
            <div class="numbers">
              <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                Animation
                Pieds dans l'eau</div>
                <p>
            </div>
          </div>
          <div class="row extra-zone">

            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-album-2"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-istanbul"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-satisfied"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-sun-fog-29"></i>
              </a>
             
            </div>


            

          </div>
         
      
      </div>
      <div class="card-footer ">
        <hr>
        <div class="row">
          <div class="col-md-6 card-price">
          5200 MAD 
      </div>
      <div class="col-md-6 update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round">J'en profite</button>
      </div>
      </div>
    </div>
    </div>
  </div>
  <div class=" col-md-5 ">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          
          <div class="col-md-8 ">
            <div class="numbers">
          <p class="card-title">Titre de l'offre</p>
          </div>
          </div>
          <div class="col-md-4 " >
            <div class="numbers">
            <p class="card-category">Dakhla City</p>
            </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12 bg-offre ">

           <img  src="assets/img/bg-offre3.jpg" />
          </div>

          </div>
          <div class="row">
         
            <div class="numbers">
              <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                Animation
                Pieds dans l'eau</div>
                <p>
            </div>
          </div>
          <div class="row extra-zone">

            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-album-2"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-istanbul"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-satisfied"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-sun-fog-29"></i>
              </a>
             
            </div>


            

          </div>
         
      
      </div>
      <div class="card-footer ">
        <hr>
        <div class="row">
          <div class="col-md-6 card-price">
          5200 MAD 
      </div>
      <div class="col-md-6 update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round">J'en profite</button>
      </div>
      </div>
    </div>
    </div>
  </div>

  <div class=" col-md-5 ">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          
          <div class="col-md-8 ">
            <div class="numbers">
          <p class="card-title">Titre de l'offre</p>
          </div>
          </div>
          <div class="col-md-4 " >
            <div class="numbers">
            <p class="card-category">Dakhla City</p>
            </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12 bg-offre ">

           <img  src="assets/img/bg-offre3.jpg" />
          </div>

          </div>
          <div class="row">
         
            <div class="numbers">
              <div class="description">3 Nuits / 4 Jours à Almoggar Garden Beach 4* en petit déjeuner avec vol A/R de Rabat
                Animation
                Pieds dans l'eau</div>
                <p>
            </div>
          </div>
          <div class="row extra-zone">

            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-album-2"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-istanbul"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-satisfied"></i>
              </a>
             
            </div>
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini" href="javascript:void(0)">
                <i class="nc-icon nc-sun-fog-29"></i>
              </a>
             
            </div>


            

          </div>
         
      
      </div>
      <div class="card-footer ">
        <hr>
        <div class="row">
          <div class="col-md-6 card-price">
          5200 MAD 
      </div>
      <div class="col-md-6 update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round">J'en profite</button>
      </div>
      </div>
    </div>
    </div>
  </div>
    
  </div>
 


